 <div class="row">

  <div class="col col-sm-6 hidden-xs center-block">

    <div style="background-color: #FFF; margin-top: 50px; padding: 20px; border: 1px solid #CCC">
      <h1 class="text-center">Bookmarker</h1>
      <p>This is a web app that allows users to manage their bookmarks online. Bookmarks can be organized into pages and categories. Users can add, edit, move and delete their bookmarks.
      </p>
      <p>This web app is built with the MEAN stack with AngularJS on the front-end and Node.js, Expree and MongoDB on the backend.</p>
      <p>Author: <a href="http://www.labsterx.com" target="_blank">LabsterX</a></p>
      <p>Github Link: <a href="https://github.com/labsterx/bookmarker" target="_blank">https://github.com/labsterx/bookmarker</a></p>
    </div>

  </div>

  <div class="col col-sm-6 center-block">
      <!-- begin login box -->

      <div class="panel panel-default center-block" style="width: 350px; margin-top: 50px; margin-bottom: 400px">
        <div class="panel-heading text-center"><h4>Login</h4></div>
        <div class="panel-body" >
          <form role="form" name="login-form" ng-submit="login()">

            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="user.username" name="username" type="text" class="form-control" placeholder="Username" autofocus>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input ng-model="user.password" name="password" type="password" class="form-control" placeholder="Password">
              </div>
            </div>

            <div class="text-center" style="color: red">{{error}}</div>
            <div class="control-group">
              <label></label>
              <div class="controls">
                <button type="submit" class="btn btn-primary btn-block btn-lg">
                  Login
                </button>
              </div>
            </div>

          </form>


        </div><!--/panel content-->
      </div><!--/panel-->

      <!-- end login box -->

  </div>

</div>